<%- include('../partials/header') %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1 class="display-4"><i class="fas fa-campground"></i> Welcome To YelpCamp!</h1>
            <p class="lead">View our hand-picked campgrounds from all over the world</p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add New CampGround</a>
        </div>
    </header>


    <div class="row text-center d-flex m-1" style="flex-wrap: wrap;">
        <div class="col-sm-12">
            <% if (noMatch !== null) { %>
            <div class="justify-content-center row">
                <h3 class="col-md-12 text-center"><%= noMatch %> </h3>
                <div class="col-xs-8 col-md-6 col-lg-4">
                    <form action="/campgrounds" method="GET" class="">
                        <div class="form-group">
                            <input type="text" name="search" placeholder="Campground Search..." id=""
                                class="form-control">
                            <input type="submit" value="Search" class="m-2 btn btn-outline-info">
                        </div>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
        <% campgrounds.forEach((campground) => { %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="<%= campground['image'] %> " alt="<%= campground.name %>">
                <div class="card-body">
                    <h5 class="card-title"><%= campground['name']; %></h5>
                    <% if (campground.rating === 0) { %>
                    <em>No reviews yet.</em>
                    <% } else { %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                    <% } %>
                    <div>
                        <span class="badge label-primary"><i class="fas fa-thumbs-up"></i>
                            <%= campground.likes.length %></span>
                    </div>
                    <a href="/campgrounds/<%= campground.slug %> " class="btn btn-outline-secondary btn-sm">More
                        Info</a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<%- include('../partials/footer') %>